body {
    font-family: "Dosis", sans-serif;
    background-color: #ffffff;
    font-size: 20px;
    margin: 0;
    color: #000000;
    line-height: 1.5;
}

.navbar {
    background-color: #eeacac;
    padding-top: 1px;
}

.nav-links {        
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 3%;
    border: 1px solid;
}

.nav-item a {
    text-decoration: none;
    color: #8F4845;
    padding: 5px 30px;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
    
.nav-item:hover a {
    color: black;
    background-color: #8F4845;
}

.logo-div {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.logo-div img {
    display: flex;
    max-width: 900%;
    align-items: center;
    justify-content: center;
    background-color: black;
}